*::-webkit-scrollbar {
    width: 2.5%;
    padding-right: 5px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: evil;
    src: url('../fonts/EvilEmpire.ttf');
}

@font-face {
    font-family: xcel;
    src: url('../fonts/ArbekaBold.ttf');
}

@font-face {
    font-family: archery;
    src: url('../fonts/ArcheryBlackRounded.ttf');
}

@font-face {
    font-family: pixel;
    src: url('../fonts/PixelEmulator.ttf');
}

@font-face {
    font-family: atari;
    src: url('../fonts/AtariClassic.ttf');
}

@font-face {
    font-family: clock;
    src: url('../fonts/alarmclock.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #7BC1E2;
}

body>div {
    width: 100%;
    overflow: hidden;
}

#unc-bar {
    height: 5%;
    background-color: #fff;
    border-bottom: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#unc-bar>img {
    float: left;
    height: 100%;
}

#header {
    top: 0;
    height: 10%;
    border-bottom: 3px solid black;
}

.evil {
    font-family: evil;
}

.xcel {
    font-family: xcel;
}

.data {
    font-family: data;
}

.pixel {
    font-family: pixel;
}

.atari {
    font-family: atari;
}

.clock {
    font-family: clock;
}

.center {
    text-align: center;
}

#header>h1 {
    font-size: 3em;
    transform: translateY(-35%);
    color: white;
}

#middle {
    height: 53%;
}

#games {
    height: 30%;
    border-top: 5px solid black;
    overflow: hidden;
}

#top-tabs {
    padding-top: 3px;
    padding-left: 10px;
    border-bottom-color: black;
    overflow-x: auto;
    height: 15%;
    width: 100%;
}

#middle>div:not(#top-tabs) {
    display: inline-block;
    height: 85%;
}

#main-middle {
    float: left;
    width: 60%;
    overflow-y: auto;
    overflow-x: hidden;
}

#overview {
    float: right;
    width: 40%;
}

#overview>div {
    height: 50%;
    overflow-y: auto;
}

td {
    text-align: center;
}

.gold {
    color: #FEE101;
}

.silver {
    color: #A7A7AD;
}

.bronze {
    color: #824A02;
}

thead>tr {
    background-color: black;
    color: white;
}

thead th {
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    table-layout: fixed;
}

tr.hidden {
    display: none;
}

.you {
    background-color: #d3d3d3;
}

#leaderboard {
    padding-bottom: 10px;
}

#account>table {
    width: 95%;
}

#left-arrow-leaderboard {
    left: 0;
    float: left;
}

#right-arrow-leaderboard {
    right: 0;
    float: right;
}

#leaderboard>div {
    width: 90%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#leaderboard table {
    width: 100%;
}

#account>table {
    margin-left: auto;
    margin-right: auto;
}

#leaderboard td, #leaderboard th {
    font-family: archery;
    font-size: 25px;
}

#account td, #account th {
    font-family: archery;
    font-size: 1.25em;
}

#leaderboard tbody>tr:first-child:not(.none) {
    background: #6666ff;
}

#leaderboard tbody>tr:nth-child(2) {
    background-color: #ff6666;
}

#leaderboard tbody>tr:nth-child(3) {
    background-color: #ffff66;
}

button {
    border-radius: .25rem;
    background-color: transparent;
    background-image: none;
    border-color: black;
    text-align: center;
    white-space: nowrap;
}

button:hover {
    color: white;
    background-color: black;
}

.showmoreButton {
    width: 75%;
    font-family: archery;
    padding-top: 5px;
    padding-bottom: 5px;
}

#messages>*:not(h2), #password-game>*:not(h2) {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#info h2, #info p {
    width: 100%;
}

.tab {
    font-family: archery;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
}

.tab.active {
    background-color: black;
    color: white;
}

.close-tab:hover {
    color: red;
}

.arrow {
    display: block;
    top: 0;
    width: 5%;
    height: 100%;
    background-color: transparent;
    background-image: none;
    white-space: nowrap;
    text-align: center;
    border: none;
    transition: 0.5s;
}

#right-arrow {
    right: 0;
    float: right;
}

#left-arrow {
    float: left;
    left: 0;
}

#game-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.disabled {
    opacity: .5;
}

.disabled:hover {
    cursor: not-allowed;
}

.disabled>p {
    opacity: 1;
    font-family: xcel;
    position: absolute;
    top: 20%;
    right: 0%;
    font-size: 1.65em;
    transform: rotate(25deg);
    z-index: 999;
}

.game-card {
    flex: 0 0 auto;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    border: 1px solid black;
    border-radius: .25rem;
    top: 10%;
    height: 75%;
    width: 20%;
    transition: 0.5s;
}

.game-card:hover {
    background-color: black;
    color: white;
}

.game-card>* {
    width: 100%;
}

.game-card-header {
    text-align: center;
    font-family: pixel;
    height: 25%;
    overflow-y: hidden;
}

.game-card-header>* {
    transform: translateY(-50%);
    vertical-align: top;
}

.game-card-icon {
    text-align: center;
    height: 50%;
}

.game-card-icon>i {
    display: inline-block;
    top: 50%;
    font-size: 3em;
    transform: translateY(50%);
}

.game-card-text {
    font-family: atari;
    height: 25%;
    vertical-align: top;
    text-align: center;
    font-size: 0.5em;
}

.game-card-text>p {
    transform: translateY(50%);
}

#messages-container {
    height: 100%;
}

#messages-container>div {
    height: 100%;
    display: inline-block;
}

#messages-choose {
    width: 34%;
}

.message-content {
    float: right;
    position: relative;
    width: 65%;
    height: 100%;
}

.correctButton {
    display: block;
}

.correctButton, .incorrectButton {
    padding: 5px;
}

.message {
    width: 100%;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}

.message:hover {
    background-color: black;
    color: white;
}

.message.active {
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}

.message-from {
    margin-top: 5px;
    font-size: 0.5em;
}

.message-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.75em;
}

.message-preview {
    font-size: 0.5em;
    margin-bottom: 10px;
}

.message>* {
    font-family: xcel;
    vertical-align: middle;
    margin-left: 5px;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.message>*:hover {
    cursor: default;
}

.message-content>* {
    margin-left: 10px;
    font-family: xcel;
}

.play {
    background-color: #66ff66;
    color: black;
    border-color: #1aff1a;
    font-family: xcel;
    width: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
    margin: 0 auto;
}

.play:hover {
    color: black;
    background-color: #1aff1a;
}

.tab-info {
    height: 100%;
    width: 100%;
}

.tab-info>p {
    margin-left: 10px;
}

button[type=submit] {
    font-family: xcel;
}

#account>h4 {
    margin-left: 10px;
}

#badges {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#badges>i {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    font-size: 1.5em;
}