@font-face {
    font-family: evil;
    src: url('../fonts/EvilEmpire.ttf');
}

@font-face {
    font-family: pixel;
    src: url('../fonts/PixelEmulator.ttf');
}

@font-face {
    font-family: atari;
    src: url('../fonts/AtariClassic.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body>div {
    width: 100%;
    overflow: hidden;
}

#header {
    top: 0;
    height: 10%;
    border-bottom: 5px solid black;
}

.evil {
    font-family: evil;
}

.pixel {
    font-family: pixel;
}

.atari {
    font-family: atari;
}

.center {
    text-align: center;
}

#header>h1 {
    font-size: 3em;
    transform: translateY(-35%);
}

#middle {
    height: 60%;
}

#games {
    height: 30%;
    border-top: 5px solid black;
    overflow: hidden;
}

#middle>div {
    display: inline-block;
    height: 100%;
}

#leaderboard {
    float: left;
    overflow: hidden;
    width: 30%;
}

#leaderboard>table {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#info, #password-game {
    width: 40%;
    overflow-y: auto;
}

#messages {
    float: right;
    width: 30%;
}

td {
    text-align: center;
}

/* td:nth-child(3), th:nth-child(3) {
    font-size: 0.75em;
} */

.gold {
    color: #FEE101;
}

.silver {
    color: #A7A7AD;
}

.bronze {
    color: #824A02;
}

thead>tr {
    background-color: black;
    color: white;
}

thead th {
    padding-top: 5px;
    padding-bottom: 5px;
}

#leaderboard td, #leaderboard th {
    font-family: atari;
}

#leaderboard tbody>tr:last-child>td {
    padding-top: 10px;
}

#leaderboard tbody>tr:first-child {
    background: blue;
}

#leaderboard tbody>tr:nth-child(2) {
    background-color: red;
}

#leaderboard tbody>tr:nth-child(3) {
    background-color: yellow;
}

button {
    border-radius: .25rem;
    background-color: transparent;
    background-image: none;
    border-color: black;
    text-align: center;
    white-space: nowrap;
}

button:hover {
    color: white;
    background-color: black;
}

#showmore {
    width: 75%;
    font-family: atari;
    padding-top: 5px;
    padding-bottom: 5px;
}

#showmore:hover {
    cursor: not-allowed;
}

#info>*:not(h2), #messages>*:not(h2), #password-game>*:not(h2) {
    margin-left: 10px;
    margin-right: 10px;
}

.arrow {
    display: block;
    top: 0;
    width: 5%;
    height: 100%;
    background-color: transparent;
    background-image: none;
    white-space: nowrap;
    text-align: center;
    border: none;
    transition: 0.5s;
}

#right-arrow {
    right: 0;
    float: right;
}

#left-arrow {
    float: left;
    left: 0;
}

#game-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    height: 100%;
}

.disabled {
    opacity: 0.5;
}

.disabled:hover {
    cursor: not-allowed;
}

.disabled>p {
    opacity: 1;
    font-family: atari;
    position: absolute;
    top: 50%;
    right: -10%;
    font-size: 1.5em;
    transform: rotate(45deg);
    z-index: 999;
}

.game-card {
    flex: 0 0 auto;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    border: 1px solid black;
    border-radius: .25rem;
    top: 10%;
    height: 75%;
    width: 20%;
    transition: 0.5s;
}

.game-card:hover {
    background-color: black;
    color: white;
}

.game-card>* {
    width: 100%;
}

.game-card-header {
    text-align: center;
    font-family: pixel;
    height: 25%;
    overflow-y: hidden;
}

.game-card-header>* {
    transform: translateY(-50%);
    vertical-align: top;
}

.game-card-icon {
    text-align: center;
    height: 50%;
}

.game-card-icon>i {
    display: inline-block;
    top: 50%;
    font-size: 3em;
    transform: translateY(50%);
}

.game-card-text {
    font-family: atari;
    height: 25%;
    vertical-align: top;
    text-align: center;
    font-size: 0.5em;
}

.game-card-text>p {
    transform: translateY(50%);
}

.top-button {
    display: flex;
    justify-content: flex-end;
}

.top-button>button {
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(25%);
    padding: 10px;
    font-family: pixel;
}

#messages-container>div {
    height: 100%;
    display: inline-block;
}

#messages-choose {
    width: 34%;
}

#message-content {
    float: right;
    width: 65%;
}

.message {
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}

.message:hover {
    background-color: black;
    color: white;
}

.message.active {
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}

.message>* {
    font-family: atari;
    vertical-align: middle;
    margin-left: 5px;
}

.message>*:hover {
    cursor: default;
}

#message-content>* {
    margin-left: 10px;
    font-family: atari;
}

.play {
    color: #90ee90;
    border-color: #90ee90;
    font-family: atari;
    width: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.play:hover {
    color: white;
    background-color: #90ee90;
}